{% extends "basee.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5 my-5">
    <div class="card px-4 my-5">
        <p class="h8 py-3">Payment Details</p>

        <form action="{% url 'User:deposite' %}" method="POST" class="items-center">
            {% csrf_token %} 
            <div class="mb-4 text-left">
              <label for="Amount" class="block text-[10px] font-medium text-black/80">Amount:</label>
              <input type="text" id="Amount" name="Amount" class="form-input mt-1 block w-full rounded-md shadow-sm bg-gray-100 border-2 border-black p-1 " placeholder="Enter Amount...">
            </div>

            <div class="row gx-3">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary mb-3 ">
                        <span class="ps-3">Deposite</span>
                        <span class="fas fa-arrow-right"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .card {
    max-width: 500px;
    margin: auto;
    color: black;
    border-radius: 20 px;
}

p {
    margin: 0px;
}

.container .h8 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.btn.btn-primary {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-image: linear-gradient(to right,#2F4F4F  0%, #CCFF99 100%);
    border: none;
    transition: 0.5s;
    background-size: 200% auto;

}


.btn.btn.btn-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}



.btn.btn-primary:hover .fas.fa-arrow-right {
    transform: translate(15px);
    transition: transform 0.2s ease-in;
}

.form-control {
    color: white;
    background-color: #223C60;
    border: 2px solid transparent;
    height: 60px;
    padding-left: 20px;
    vertical-align: middle;
}

.form-control:focus {
    color: white;
    background-color: #0C4160;
    border: 2px solid #2d4dda;
    box-shadow: none;
}

.text {
    font-size: 14px;
    font-weight: 600;
}

::placeholder {
    font-size: 14px;
    font-weight: 600;
}
</style>
{% endblock content %}

