{% extends "basee.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <br><br><br><br>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card p-4 border-primary rounded shadow">
            <h1 class="text-danger fw-bold fs-4 p-5">Log IN</h1>
            <form method="post" style="width: 50%; margin: auto;">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary mb-3">Submit</button>
            </form>
            <div class="text-center mt-3">
                <a href="{% url 'User:password_reset' %}" class="text-primary">Forgot Password?</a>
            </div>
        </div>
    </div>
{% endblock content %}

