{% extends 'basee.html' %}

{% block content %}

    <div class="container d-flex justify-content-center align-items-center">
        <div class="card my-5 p-4 border-primary rounded shadow" style="background-color: rgba(249, 240, 223, 0.5);">
            <section class="py-5">
                <div class="container">
                    <div class="text-center">
                        <span class="text-muted">Our Story</span>
                        <h2 class="display-5 fw-bold mb-3">About Us</h2>
                    </div>
                    <div class="row gx-5">
                        <div class="col-md-6">
                            <div class="lead text-center text-md-start">
                                <p>Welcome to Auction Alley, where we revolutionize the way you buy and sell homes through a seamless and exciting auction experience. At Auction Alley, we believe that the process of acquiring a home should be as dynamic and engaging as the property itself. Our platform connects buyers and sellers in a transparent, efficient, and user-friendly environment, making property transactions both thrilling and straightforward.</p>
                            </div>
                            <div class="lead text-center text-md-start">
                                <p>Founded with the vision to bring a fresh approach to the real estate market, Auction Alley combines cutting-edge technology with expert industry insights to offer a wide array of properties through live and timed auctions. Whether you're searching for your dream home or looking to sell a property, our dedicated team is here to ensure a smooth and successful experience.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="lead text-center text-md-start">
                                <p>Our commitment to excellence is reflected in every auction we conduct. From providing detailed property information to offering real-time updates and responsive support, we strive to deliver the highest standard of service. At Auction Alley, we don’t just auction homes; we create opportunities and build communities.
                                </p>
                            </div>
                            <br>
                            <div class="lead text-center text-md-start">
                                <p>Join us on this exciting journey and discover how Auction Alley can help you find your next home or achieve your real estate goals. Welcome to a new era of home buying and selling—welcome to Auction Alley.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
        </div>
    </div>

<style>
    p {
        margin-bottom: 10px; 
        font-size: 20px; 
        font-weight: 500;
        color: rgb(40, 42, 95);
}
</style>
{% endblock %}