{% extends 'basee.html' %}

{% block content %}
<div class="container mt-4 rounded" style="background-color: rgba(0, 0, 58, 0.95);">
    <h3 style="color: white; text-align: center; margin-top: 20px;">You Can Request Your Refund Here</h3>
    {% if success_message %}
        <div class="alert alert-success text-center">
            {{ success_message }}
        </div>
    {% endif %}
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="reason" style="color: white;">Reason for Refund:</label>
            <textarea class="form-control" id="reason" name="reason" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="bank_branch" style="color: white;">Bank Branch:</label>
            <input type="text" class="form-control" id="bank_branch" name="bank_branch">
        </div>
        <div class="form-group">
            <label for="bank_account_number" style="color: white;">Bank Account Number:</label>
            <input type="text" class="form-control" id="bank_account_number" name="bank_account_number">
        </div>
        <button type="submit" class="btn btn-success btn-sm">Submit Refund Request</button>
    </form>
    <a href="{% url 'dashboard:winner_bid_profile' %}" class="btn btn-light mt-3">Back to Profile</a>
</div>
{% endblock %}
