{% extends 'basee.html' %}

{% block content %}
<section class="vh-100" style="background-color: rgba(249, 240, 223, 0.5);">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="card-body p-4">
                        <h5 class="card-title" style="text-align: center; font-weight: bold;">Request for Papers</h5>
                        <hr class="mt-0 mb-4">
                        
                        <!-- Display success message -->
                        <div class="alert alert-success" role="alert" style="text-align: center;">
                            Your request for papers has been sent successfully.
                        </div>

                        <!-- Download button for uploaded PDF -->
                        <div class="text-center">
                            <a href="{{ house_paper_url }}" class="btn btn-primary" download>Download House Paper</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
