{% extends 'basee.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ seller.user.username }}</h3>
                    <p class="card-text">
                        <strong>Email:</strong> {{ seller.user.email }}<br>
                        <strong>First Name:</strong> {{ seller.user.first_name }}<br>
                        <strong>Last Name:</strong> {{ seller.user.last_name }}<br>
                        <strong>Phone:</strong> {{ seller.phone }}<br>
                        <strong>Address:</strong> {{ seller.address }}<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
